h1 {
  font-family: "Pattaya", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 35px;
}

ul {
  list-style: none;
}

li {
  font-family: "Alike Angular", serif;
  font-size: 2em;
  color: #ffffff;
}

input[type="radio"] {
  border: 0;
  width: 20px;
  height: 2em;
}

p {
  font-family: "Alike Angular", serif;
}

#quizContainer {
  background-color: #35055c;
  border-radius: 20px;
  width: 75%;
  margin: auto;
  margin-top: 5%;
  padding-top: 5px;
  box-shadow: 10px 10px 5px #888;
}

#nextButton {
  box-shadow: 3px 3px 5px #888;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  text-align: center;
  background-color: #cc0000;
  clear: both;
  color: #fff;
  font-family: "Alike Angular", serif;
  font-weight: bold;
  position: relative;
  margin: auto;
  padding-top: 20px;
  cursor: pointer;
}

#question {
  font-family: "Alike Angular", serif;
  font-size: 2em;
  width: 90%;
  height: auto;
  margin: auto;
  border-radius: 6px;
  background-color: #58c518;
  text-align: center;
  color: #ffffff;
}

#quizMessage {
  background-color: peachpuff;
  border-radius: 6px;
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 2px;
  font-family: "Alike Angular", serif;
  color: red;
}

#choiceList {
  font-family: Courier, serif;
  color: blueviolet;
}

#result {
  width: 30%;
  height: auto;
  border-radius: 6px;
  background-color: linen;
  margin: auto;
  margin-bottom: 35px;
  text-align: center;
  font-family: "Alike Angular", serif;
}
